@charset "UTF-8";

*{
	box-sizing: border-box;
}

body {
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:95%;
	height: 100%;
}

.container {
	max-width:500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	text-align: center;
}

ul.center {
  margin-left: 120px;
}

@media (max-width: 768px) {
	ul.center {
		margin-left: 0px;
	}
}

ul.center li{
  text-align: left;
}